.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 450px;
    margin-right: -4px
}
.signup-title{
    margin-bottom: 10px
}
.signup-info {
     display: flex;
     flex-direction: column;
    /* justify-content: center; */
    gap: 10px

}
.signup-input {
    width: 350px;
    border: 2px solid black;
    background-color: #ebf2f4;
    height: 20px;

}

.signup-button{
    height: 40px;
    background-color: #d0312d;
    width: 353px;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 5px #000000;
    border: 1px solid black;
    margin-top: 10px;
    font-size: 15px;
}
