/* TODO Add site wide styles */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

ul{
    
list-style: none;    

}
body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a,button{
    cursor: pointer;
}

a{
    text-decoration: none;
}
.container{
    margin:0 auto;
    max-width:1024px;
}

.error{
    color: rgba(255, 0, 0);
    position: absolute;
    bottom: -10px;
    left: 0;
    font-size: 12px;
}
.label{
    position: relative;
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
    display: inline-block;
}


.demo-btn {
    color: white;
    background-color: #ff3b41;
}

.section-title{
    font-size: 24px;
    font-weight: bold;
}

input{
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin-top: 10px;
}

form{
    max-width: 450px;
}

textarea{
    width:100%;
    display: inline-block;
    min-height: 200px;
    max-width: 480px;
    margin-top: 10px;
    border: rgb(7, 7, 7) 1px solid;
    padding: 15px;
}

select{
    margin: 10px 0;
}

