.form{
    max-width: 450px;
    margin: 0 auto;
}

.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
 
}

.btn{
    max-width: 450px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-weight: 600;
}
.primaryBtn{
    background-color: rgb(24, 212, 24);
}

.label{
    position: relative;
    font-size: 14px;
    padding-bottom: 10px;
    width: 100%;
    display: inline-block;
}

.error{
    color: rgba(255, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
}