.hidden {
    display: none
}

.navbar {
    display: flex;
    justify-content: space-between;

}
.start-new-group-nav{
    color: teal;
    text-decoration: none;
    font-size: 20px;
}

.rightNav {
    display: flex;
    gap: 20px
}

.navlink-drop-down {
    color: black;
    text-decoration: none;

}

.profile-button {
    position: relative;
    width: 30px;
    height: 28px;
    margin-right: 30px;
    /* border-radius: 30px; */
    color: rgb(234, 61, 90);


}


.drop-down-container {
    
    border: 2px solid black;
    padding: 10px;


}

.logout-button {
    width: 95px;
    background-color: white;
    border-top: 1px solid black
}

.logout-drop-down {
    border: 2px solid black;
    padding: 10px;
    margin-right: 50px;

}

.login-button-dropdown {
    background-color: white;
    width: 80px;

}

.join-btn{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 7px;
    background-color: rgba(56, 93, 98);
    border: none;
    color: #fff;

  
}
.navbar-item{
    position: relative;
}

.profile-dropdown{
    position:absolute;
   
    right: 30px;
}