.hidden {
    display: none
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.rightNav {
    display: flex;
    gap: 20px;
    position: relative;
}



.profile-button {
    width: 30px;
    height: 28px;
    margin-right: 30px;
    /* border-radius: 30px; */
    color: rgb(234, 61, 90);


}

.profile-dropdown{
    position: absolute;
    right: 0;
    top: 22px;
 
   
    border: 1px solid black;
    padding: 10px;
    
}



.logout-button {
  
    background-color: #acd621;
    border:none;
}
