.login-container {
    border: 1px solid black;
    height: 400px;
    width: 430px;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 15px;

 }
 /* .login-title {
    margin-bottom: -10px
 } */

 /* .login-credentials {
    display: flex;
    flex-direction: column;
 } */

 .credentials {
    width: 400px;
    border: 2px solid black;
    background-color: #e2ea87;
    margin-top: 20px;
    padding: 10px;
 }



 /* .submit-login-fail {
    height: 30px;
 } */

 .submit-login {
    height: 40px;
    background-color: rgb(219, 83, 83);
    width: 98%;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 5px #000000;
    border: none;
    margin-top: 10px;
    font-size: 15px;
 }

 .username-email {
    margin-top: 0px
 }

 .password {
    margin-top: 8px;
    margin-bottom: 16px
 }

 .demo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: teal
 }